@charset "UTF-8";
/* style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Returns a media context (media query / grid context) that can be stored in a variable and passed to `media()` as a single-keyword argument. Media contexts defined using `new-breakpoint` are used by the visual grid, as long as they are defined before importing Neat.
 *
 * @param {List} $query
 *   - A list of media query features and values. Each `$feature` should have a corresponding `$value`. If there is only a single `$value` in `$query`, `$default-feature` is going to be used. The number of total columns in the grid can be set by passing `$columns` at the end of the list (overrides `$total-columns`). For a list of valid values for `$feature`, click [here](http://www.w3.org/TR/css3-mediaqueries/#media1).
 *
 * @param {Number (unitless)} $total-columns ($grid-columns)
 *   - Number of columns to use in the new grid context. Can be set as a shorthand in the first parameter.
 *
 * @example scss - Usage
 *   $mobile: new-breakpoint(max-width 480px 4);
 *
 *   .element {
 *     @include media($mobile) {
 *       @include span-columns(4);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   @media screen and (max-width: 480px) {
 *     .element {
 *       display: block;
 *       float: left;
 *       margin-right: 7.42297%;
 *       width: 100%;
 *     }
 *     .element:last-child {
 *       margin-right: 0;
 *     }
 *   }
 */
/**
 * Sets the relative width of a single grid column. The unit used should be the same one used to define `$gutter`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with a `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the relative width of a single grid gutter. The unit used should be the same one used to define `$column`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the total number of columns in the grid. Its value can be overridden inside a media query using the `media()` mixin. Set with the `!global` flag.
 *
 * @type Number (Unitless)
 */
/**
 * Sets the max-width property of the element that includes `outer-container()`. To learn more about `em()` see [Bourbon docs](http://bourbon.io/docs/#px-to-em). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * When set to true, it sets the box-sizing property of all elements to `border-box`. Set with a `!global` flag.
 *
 * @type Bool
 *
 * @example css - CSS Output
 *   * {
 *     -webkit-box-sizing: border-box;
 *     -moz-box-sizing: border-box;
 *     box-sizing: border-box;
 *   }
 */
/**
 * Sets the default [media feature](http://www.w3.org/TR/css3-mediaqueries/#media) that `media()` and `new-breakpoint()` revert to when only a breakpoint value is passed. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Sets the default layout direction of the grid. Can be `LTR` or `RTL`. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Displays the visual grid when set to true. The overlaid grid may be few pixels off depending on the browser's rendering engine and pixel rounding algorithm. Set with the `!global` flag.
 *
 * @type Bool
 */
/**
 * Sets the visual grid color. Set with `!global` flag.
 *
 * @type Color
 */
/**
 * Sets the `z-index` property of the visual grid. Can be `back` (behind content) or `front` (in front of content). Set with `!global` flag.
 *
 * @type String
 */
/**
 * Sets the opacity property of the visual grid. Set with `!global` flag.
 *
 * @type Number (unitless)
 */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }
/* Neat 1.7.0.pre
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/**
 * Returns a media context (media query / grid context) that can be stored in a variable and passed to `media()` as a single-keyword argument. Media contexts defined using `new-breakpoint` are used by the visual grid, as long as they are defined before importing Neat.
 *
 * @param {List} $query
 *   - A list of media query features and values. Each `$feature` should have a corresponding `$value`. If there is only a single `$value` in `$query`, `$default-feature` is going to be used. The number of total columns in the grid can be set by passing `$columns` at the end of the list (overrides `$total-columns`). For a list of valid values for `$feature`, click [here](http://www.w3.org/TR/css3-mediaqueries/#media1).
 *
 * @param {Number (unitless)} $total-columns ($grid-columns)
 *   - Number of columns to use in the new grid context. Can be set as a shorthand in the first parameter.
 *
 * @example scss - Usage
 *   $mobile: new-breakpoint(max-width 480px 4);
 *
 *   .element {
 *     @include media($mobile) {
 *       @include span-columns(4);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   @media screen and (max-width: 480px) {
 *     .element {
 *       display: block;
 *       float: left;
 *       margin-right: 7.42297%;
 *       width: 100%;
 *     }
 *     .element:last-child {
 *       margin-right: 0;
 *     }
 *   }
 */
/**
 * Sets the relative width of a single grid column. The unit used should be the same one used to define `$gutter`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with a `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the relative width of a single grid gutter. The unit used should be the same one used to define `$column`. To learn more about golden-ratio() see [Bourbon docs](http://bourbon.io/docs/#golden-ratio). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * Sets the total number of columns in the grid. Its value can be overridden inside a media query using the `media()` mixin. Set with the `!global` flag.
 *
 * @type Number (Unitless)
 */
/**
 * Sets the max-width property of the element that includes `outer-container()`. To learn more about `em()` see [Bourbon docs](http://bourbon.io/docs/#px-to-em). Set with the `!global` flag.
 *
 * @type Number (Unit)
 */
/**
 * When set to true, it sets the box-sizing property of all elements to `border-box`. Set with a `!global` flag.
 *
 * @type Bool
 *
 * @example css - CSS Output
 *   * {
 *     -webkit-box-sizing: border-box;
 *     -moz-box-sizing: border-box;
 *     box-sizing: border-box;
 *   }
 */
/**
 * Sets the default [media feature](http://www.w3.org/TR/css3-mediaqueries/#media) that `media()` and `new-breakpoint()` revert to when only a breakpoint value is passed. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Sets the default layout direction of the grid. Can be `LTR` or `RTL`. Set with a `!global` flag.
 *
 * @type String
 */
/**
 * Displays the visual grid when set to true. The overlaid grid may be few pixels off depending on the browser's rendering engine and pixel rounding algorithm. Set with the `!global` flag.
 *
 * @type Bool
 */
/**
 * Sets the visual grid color. Set with `!global` flag.
 *
 * @type Color
 */
/**
 * Sets the `z-index` property of the visual grid. Can be `back` (behind content) or `front` (in front of content). Set with `!global` flag.
 *
 * @type String
 */
/**
 * Sets the opacity property of the visual grid. Set with `!global` flag.
 *
 * @type Number (unitless)
 */
/**
 * Disable all deprecation warnings. Defaults to `false`. Set with a `!global` flag.
 *
 * @type Bool
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * Removes the element's gutter margin, regardless of its position in the grid hierarchy or display property. It can target a specific element, or every `nth-child` occurrence. Works only with `block` layouts.
 *
 * @param {List} $query (block)
 *   List of arguments. Supported arguments are `nth-child` selectors (targets a specific pseudo element) and `auto` (targets `last-child`).
 *
 *   When passed an `nth-child` argument of type `*n` with `block` display, the omega mixin automatically adds a clear to the `*n+1` th element. Note that composite arguments such as `2n+1` do not support this feature.
 *
 *   **Deprecation warning**: The omega mixin will no longer take a `$direction` argument. To change the layout direction, use `row($direction)` or set `$default-layout-direction` instead.
 *
 * @example scss - Usage
 *   .element {
 *     @include omega;
 *   }
 *
 *   .nth-element {
 *     @include omega(4n);
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     margin-right: 0;
 *   }
 *
 *   .nth-element:nth-child(4n) {
 *     margin-right: 0;
 *   }
 *
 *   .nth-element:nth-child(4n+1) {
 *     clear: left;
 *   }
 */
/**
 * Makes an element a outer container by centring it in the viewport, clearing its floats, and setting its `max-width`.
 * Although optional, using `outer-container` is recommended. The mixin can be called on more than one element per page, as long as they are not nested.
 *
 * @param {Number (unit)} $local-max-width ($max-width)
 *   Max width to be applied to the element. Can be a percentage or a measure.
 *
 * @example scss - Usage
 *   .element {
 *     @include outer-container(100%);
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     *zoom: 1;
 *     max-width: 100%;
 *     margin-left: auto;
 *     margin-right: auto;
 *   }
 *
 *   .element:before, .element:after {
 *     content: " ";
 *     display: table;
 *   }
 *
 *   .element:after {
 *     clear: both;
 *   }
 */
/**
 * Specifies the number of columns an element should span. If the selector is nested the number of columns of its parent element should be passed as an argument as well.
 *
 * @param {List} $span
 *   A list containing `$columns`, the unitless number of columns the element spans (required), and `$container-columns`, the number of columns the parent element spans (optional).
 *
 *   If only one value is passed, it is assumed that it's `$columns` and that that `$container-columns` is equal to `$grid-columns`, the total number of columns in the grid.
 *
 *   The values can be separated with any string such as `of`, `/`, etc.
 *
 * @param {String} $display (block)
 *   Sets the display property of the element. By default it sets the display propert of the element to `block`.
 *
 *   If passed `block-collapse`, it also removes the margin gutter by adding it to the element width.
 *
 *   If passed `table`, it sets the display property to `table-cell` and calculates the width of the element without taking gutters into consideration. The result does not align with the block-based grid.
 *
 * @example scss - Usage
 *   .element {
 *     @include span-columns(6);

 *    .nested-element {
 *      @include span-columns(2 of 6);
 *    }
 *  }
 *
 * @example css - CSS Output
 *   .element {
 *     display: block;
 *     float: left;
 *     margin-right: 2.35765%;
 *     width: 48.82117%;
 *   }
 *
 *   .element:last-child {
 *     margin-right: 0;
 *   }
 *
 *   .element .nested-element {
 *     display: block;
 *     float: left;
 *     margin-right: 4.82916%;
 *     width: 30.11389%;
 *   }
 *
 *   .element .nested-element:last-child {
 *     margin-right: 0;
 *   }
 */
/**
 * Designates the element as a row of columns in the grid layout. It clears the floats on the element and sets its display property. Rows can't be nested, but there can be more than one row element—with different display properties—per layout.
 *
 * @param {String} $display (default)
 *   Sets the display property of the element and the display context that will be used by its children. Can be `block` or `table`.
 *
 * @param {String} $direction ($default-layout-direction)
 *   Sets the layout direction. Can be `LTR` (left-to-right) or `RTL` (right-to-left).
 *
 * @example scss - Usage
 *   .element {
 *     @include row();
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     *zoom: 1;
 *     display: block;
 *   }
 *
 *  .element:before, .element:after {
 *    content: " ";
 *    display: table;
 *  }
 *
 *  .element:after {
 *    clear: both;
 *  }
 */
/**
 * Translates an element horizontally by a number of columns. Positive arguments shift the element to the active layout direction, while negative ones shift it to the opposite direction.
 *
 * @param {Number (unitless)} $n-columns (1)
 *   Number of columns by which the element shifts.
 *
 * @example scss - Usage
 *   .element {
 *     @include shift(-3);
 *   }
 *
 * @example css - CSS output
 *   .element {
 *     margin-left: -25.58941%;
 *   }
 */
/**
 * Translates an element horizontally by a number of columns, in a specific nesting context.
 *
 * @param {List} $shift
 *   A list containing the number of columns to shift (`$columns`) and the number of columns of the parent element (`$container-columns`).
 *
 *   The two values can be separated with any string such as `of`, `/`, etc.
 *
 * @example scss - Usage
 *   .element {
 *     @include shift(-3 of 6);
 *   }
 *
 * @example css - CSS output
 *   .element {
 *     margin-left: -52.41458%;
 *   }
 */
/**
 * Adds padding to the element.
 *
 * @param {List} $padding (flex-gutter())
 *   A list of padding value(s) to use. Passing `default` in the list will result in using the gutter width as a padding value.
 *
 * @example scss - Usage
 *   .element {
 *     @include pad(30px -20px 10px default);
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     padding: 30px -20px 10px 2.35765%;
 *   }
 */
/**
 * Forces the element to fill its parent container.
 *
 * @example scss - Usage
 *   .element {
 *     @include fill-parent;
 *   }
 *
 * @example css - CSS Output
 *   .element {
 *     width: 100%;
 *     -webkit-box-sizing: border-box;
 *     -moz-box-sizing: border-box;
 *     box-sizing: border-box;
 *   }
 */
/**
 * Outputs a media-query block with an optional grid context (the total number of columns used in the grid).
 *
 * @param {List} $query
 *   A list of media query features and values, where each `$feature` should have a corresponding `$value`.
 *   For a list of valid values for `$feature`, click [here](http://www.w3.org/TR/css3-mediaqueries/#media1).
 *
 *   If there is only a single `$value` in `$query`, `$default-feature` is going to be used.
 *
 *   The number of total columns in the grid can be set by passing `$columns` at the end of the list (overrides `$total-columns`).
 *
 *
 * @param {Number (unitless)} $total-columns ($grid-columns)
 *   - Number of columns to use in the new grid context. Can be set as a shorthand in the first parameter.
 *
 * @example scss - Usage
 *   .responsive-element {
 *      @include media(769px) {
 *        @include span-columns(6);
 *      }
 *   }
 *
 *  .new-context-element {
 *    @include media(min-width 320px max-width 480px, 6) {
 *      @include span-columns(6);
 *    }
 *  }
 *
 * @example css - CSS Output
 *  @media screen and (min-width: 769px) {
 *    .responsive-element {
 *      display: block;
 *      float: left;
 *      margin-right: 2.35765%;
 *      width: 48.82117%;
 *    }
 *
 *    .responsive-element:last-child {
 *      margin-right: 0;
 *    }
 *  }
 *
 *  @media screen and (min-width: 320px) and (max-width: 480px) {
 *    .new-context-element {
 *      display: block;
 *      float: left;
 *      margin-right: 4.82916%;
 *      width: 100%;
 *    }
 *
 *    .new-context-element:last-child {
 *      margin-right: 0;
 *    }
 *  }
 */
/**
 * Resets the active display property to `block`. Particularly useful when changing the display property in a single row.
 *
 * @example scss - Usage
 *   .element {
 *     @include row(table);
 *     // Context changed to table display
 *   }
 *
 *   @include reset-display;
 *   // Context is reset to block display
 */
/**
 * Resets the active layout direction to the default value set in `$default-layout-direction`. Particularly useful when changing the layout direction in a single row.
 *
 * @example scss - Usage
 *   .element {
 *     @include row($direction: RTL);
 *     // Context changed to right-to-left
 *   }
 *
 *   @include reset-layout-direction;
 *   // Context is reset to left-to-right
 */
/**
 * Resets both the active layout direction and the active display property.
 *
 * @example scss - Usage
 *   .element {
 *     @include row(table, RTL);
 *     // Context changed to table table and right-to-left
 *   }
 *
 *   @include reset-all;
 *   // Context is reset to block display and left-to-right
 */
/**
 * Changes the display property used by other mixins called in the code block argument.
 *
 * @param {String} $display (block)
 *   Display value to be used within the block. Can be `table` or `block`.
 *
 * @example scss
 *   @include display(table) {
 *    .display-table {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css
 *   .display-table {
 *      display: table-cell;
 *      ...
 *   }
 */
/**
 * Changes the direction property used by other mixins called in the code block argument.
 *
 * @param {String} $direction (left-to-right)
 *   Layout direction to be used within the block. Can be `left-to-right` or `right-to-left`.
 *
 * @example scss - Usage
 *   @include direction(right-to-left) {
 *    .right-to-left-block {
 *      @include span-columns(6);
 *     }
 *   }
 *
 * @example css - CSS Output
 *   .right-to-left-block {
 *     float: right;
 *      ...
 *   }
 */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

p.button {
  line-height: 40px; }

.button-orange-stroked {
  padding: 10px 35px;
  color: inherit;
  border: 1px solid #fd6b35;
  background: none;
  transition: all 300ms ease; }
  .button-orange-stroked:hover {
    background: #f55e26;
    border: 1px solid #fd6b35;
    color: #fff; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.large-4, .large-4-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 31.57895%; }
  .large-4:last-child, .large-4-wrap:last-child {
    margin-right: 0; }

.large-5, .large-5-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 44.40789%; }
  .large-5:last-child, .large-5-wrap:last-child {
    margin-right: 0; }

.large-6, .large-6-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 48.68421%; }
  .large-6:last-child, .large-6-wrap:last-child {
    margin-right: 0; }

.large-8, .large-8-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 65.78947%; }
  .large-8:last-child, .large-8-wrap:last-child {
    margin-right: 0; }

.large-12, .large-12-wrap {
  float: left;
  display: block;
  margin-right: 2.63158%;
  width: 100%; }
  .large-12:last-child, .large-12-wrap:last-child {
    margin-right: 0; }

.omega-wrap {
  margin-right: 0; }

.offset-1 {
  margin-left: 8.55263%; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: 100;
  text-transform: uppercase; }

h1, .h1 {
  font-size: 48px;
  line-height: 58px; }

h2, .h2 {
  font-size: 35px;
  line-height: 45px; }

h3, .h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 40px; }

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232323; }

h5, .h5 {
  font-weight: 700;
  text-transform: uppercase; }

hr {
  border: 0;
  height: 1px;
  max-width: 100px;
  margin: 20px auto 25px auto;
  background: #fd6b35; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a {
  text-decoration: none; }

p {
  margin-bottom: 15px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

body {
  font: 14px "Gotham", serif;
  color: #939393;
  background-color: #fff;
  font-weight: 300;
  line-height: 26px;
  height: 100%; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.section {
  padding: 120px 0; }

.small_section {
  padding: 40px 0; }

.intro {
  margin: auto;
  max-width: 830px;
  text-align: center; }
  .intro h2 {
    margin-bottom: 10px; }
  .intro p {
    margin: auto;
    max-width: 550px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #fd6b35;
  opacity: 0.85; }

input, textarea {
  padding: 10px 15px;
  border: 1px solid #939393;
  background: none;
  transition: all 300ms ease;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }

textarea {
  resize: vertical; }

.opl {
  position: absolute;
  top: 150px;
  left: 0px;
  z-index: 10; }

.opl a {
  width: 73px;
  height: 56px;
  text-indent: -9999px;
  display: block;
  background: url("https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png") no-repeat; }

.prenav {
  background: #383838;
  padding: 10px 0;
  text-align: right; }
  .prenav span {
    color: #fd6b35; }
  .prenav a {
    color: inherit; }
  .prenav p {
    display: inline-block;
    margin-bottom: 0; }
    .prenav p:last-child {
      margin-left: 15px; }

.main_nav {
  background: #232323;
  padding: 25px 0;
  left: 0;
  top: 0;
  width: 100%;
  transition: all 200ms ease; }
  .main_nav .logo {
    background: url(../images/logo.svg) no-repeat center center;
    display: block;
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    float: left; }
  .main_nav .header_toggle {
    display: none; }
  .main_nav .navigation {
    float: right; }
    .main_nav .navigation li {
      display: inline-block;
      line-height: 35px;
      margin-right: 15px; }
      .main_nav .navigation li:last-child {
        margin-right: 0; }
      .main_nav .navigation li a {
        color: inherit; }
        .main_nav .navigation li a.current {
          color: #fd6b35; }
  .main_nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 15px 0; }

.nav_wrapper {
  font-size: 12px; }
  .nav_wrapper .container {
    max-width: none;
    width: 95%;
    text-transform: uppercase; }

header {
  background: url(../images/hero_bg.jpg) no-repeat center bottom;
  height: 450px; }
  header .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    z-index: 25; }
    header .container .logo {
      margin: 0 auto;
      max-width: 530px;
      width: 80%;
      height: auto; }
      header .container .logo img {
        display: block;
        width: 100%;
        height: auto; }

.intro .button {
  margin-top: 50px; }
.intro .dark a {
  color: #232323; }
  .intro .dark a:hover {
    color: #fff; }

#services {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 0;
  overflow: hidden;
  height: 575px; }

.services_left {
  background: url(../images/services_left_bg.jpg) no-repeat center center;
  background-size: cover;
  display: table-cell;
  vertical-align: top;
  width: 40%;
  padding: 70px 0 70px 5%;
  color: #fff; }
  .services_left .services_left_text {
    position: relative;
    z-index: 50; }
  .services_left h5 {
    font-weight: 700;
    color: #fd6b35;
    text-transform: uppercase; }
  .services_left h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 34px;
    width: 60%; }
  .services_left ol {
    margin-top: 15px; }
    .services_left ol li {
      z-index: 20;
      position: relative;
      list-style: decimal;
      margin-left: 20px;
      background: transparent;
      color: inherit;
      padding-left: 0;
      transition: all 200ms ease; }
      .services_left ol li.active, .services_left ol li:hover {
        background: #232323;
        color: #fd6b35;
        padding-left: 15px; }
      .services_left ol li:hover {
        cursor: pointer; }

.services_right {
  padding: 70px 5% 70px 0;
  background: #232323;
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 60%;
  color: #fff;
  z-index: 20; }
  .services_right:before {
    content: "";
    background: #232323;
    position: absolute;
    top: 0;
    left: -14%;
    padding: 70px 5% 70px 0;
    width: 500px;
    height: 100%;
    display: block;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg); }
  .services_right .service_wrapper {
    position: relative;
    z-index: 40; }

.view {
  position: absolute;
  top: -9999px;
  left: -9999px; }
  .view:after {
    content: "";
    display: table;
    clear: both; }
  .view.active {
    position: relative;
    top: 0;
    left: 0; }
  .view .h5 {
    font-weight: 700;
    text-transform: uppercase; }
    .view .h5 span {
      color: #fd6b35; }
  .view .service_main {
    float: left;
    width: 60%;
    margin-right: 5%; }
  .view .service_extra {
    float: left;
    width: 35%; }
    .view .service_extra ul {
      margin-left: 20px; }
      .view .service_extra ul li {
        list-style: disc; }

#about .intro.section {
  padding-bottom: 0; }

.about_image {
  margin-top: 50px;
  max-width: 60%;
  margin-bottom: -100px;
  position: relative;
  z-index: 30; }
  .about_image p {
    margin-bottom: 0; }
  .about_image img {
    display: block;
    width: 100%;
    height: auto; }

.history {
  background: url(../images/history_bg.jpg) no-repeat center bottom;
  background-size: cover;
  position: relative;
  padding: 150px 0 100px 0; }
  .history .container {
    position: relative;
    z-index: 20;
    color: #fff; }
  .history h3 {
    margin-bottom: 3%; }

.tl_wrapper {
  position: relative;
  padding: 250px 0; }

.tl_line {
  width: 100%;
  height: 1px;
  position: absolute;
  background: #c7c7c7;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.tl {
  height: 1px;
  position: relative; }
  .tl .tl_point {
    float: left;
    height: 150px;
    width: 16.666%;
    position: relative; }
    .tl .tl_point .tl_info {
      position: absolute;
      left: 0; }
      .tl .tl_point .tl_info h5 {
        color: #fd6b35; }
      .tl .tl_point .tl_info p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 19px;
        color: #232323; }
    .tl .tl_point:before {
      content: "";
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      background: #939393;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
    .tl .tl_point:nth-child(odd) {
      top: -165px; }
      .tl .tl_point:nth-child(odd):before {
        bottom: -20px; }
      .tl .tl_point:nth-child(odd) .tl_info {
        bottom: 0; }
    .tl .tl_point:nth-child(even) {
      bottom: -13px; }
      .tl .tl_point:nth-child(even):before {
        top: -20px; }
      .tl .tl_point:nth-child(even) .tl_info {
        top: 0; }

.team_intro {
  height: 530px;
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 0;
  overflow: hidden; }
  .team_intro .team_intro_image {
    background: url(../images/team_intro_image.jpg) no-repeat left center;
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    position: relative; }
    .team_intro .team_intro_image:after {
      content: "";
      background: #fff;
      position: absolute;
      z-index: 10;
      top: 0;
      right: -110px;
      width: 210px;
      height: 100%;
      display: block;
      transform: skew(-20deg);
      -webkit-transform: skew(-20deg);
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg); }
  .team_intro .team_intro_text {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    text-align: right;
    padding: 0 5% 0 0;
    position: relative;
    z-index: 40; }
    .team_intro .team_intro_text h5 {
      font-weight: 700;
      color: #232323;
      text-transform: uppercase; }
    .team_intro .team_intro_text h3 {
      color: #fd6b35;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 34px;
      margin: 0 0 3% 0; }

.team_buckets {
  padding-top: 20px;
  text-align: center; }
  .team_buckets:after {
    content: "";
    display: table;
    clear: both; }
  .team_buckets .team_bucket {
    width: 25%;
    padding: 0 2%;
    float: left;
    margin-bottom: 5%; }
    .team_buckets .team_bucket .team_bucket_image {
      background-size: contain !important;
      margin: 0 auto;
      width: 90%;
      height: 0;
      padding-bottom: 90%;
      -moz-border-radius: 90%;
      -webkit-border-radius: 90%;
      border-radius: 90%;
      margin-bottom: 30px; }
    .team_buckets .team_bucket:nth-child(4n+1) {
      clear: both; }

.values_divider {
  border-top: 1px solid #c7c7c7;
  position: relative;
  z-index: 10; }
  .values_divider .divider_logo_wrapper {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto; }
  .values_divider .padding {
    position: absolute;
    background-color: #fff;
    display: block;
    width: 120px;
    height: 40px;
    z-index: 40;
    left: -40px; }
  .values_divider .divider_logo {
    margin: -20px auto 0 auto;
    width: 40px;
    height: 40px; }
    .values_divider .divider_logo img {
      display: block;
      width: 40px;
      height: 40px;
      position: relative;
      z-index: 50; }

.map_wrap {
  width: 100%;
  height: 300px; }
  .map_wrap #map {
    display: block;
    width: 100%;
    height: 100%; }

.contact_wrapper {
  background: url(../images/contact_bg.jpg) no-repeat center bottom;
  background-size: cover;
  padding: 150px 0;
  color: #fff; }
  .contact_wrapper .contact_info {
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 23.02632%; }
    .contact_wrapper .contact_info:last-child {
      margin-right: 0; }
    .contact_wrapper .contact_info h5 {
      text-transform: uppercase;
      color: #fff;
      display: inline-block;
      border-bottom: 1px solid #fd6b35;
      margin-bottom: 10px; }
    .contact_wrapper .contact_info address p {
      margin-bottom: 0; }
    .contact_wrapper .contact_info address .address {
      margin-bottom: 20px; }
    .contact_wrapper .contact_info address a {
      color: inherit; }
      .contact_wrapper .contact_info address a:hover {
        text-decoration: underline; }
  .contact_wrapper .form_wrapper {
    margin-left: 17.10526%;
    float: left;
    display: block;
    margin-right: 2.63158%;
    width: 57.23684%; }
    .contact_wrapper .form_wrapper:last-child {
      margin-right: 0; }
    .contact_wrapper .form_wrapper input, .contact_wrapper .form_wrapper textarea {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      outline: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 1px solid #fd6b35; }
    .contact_wrapper .form_wrapper ::-webkit-input-placeholder {
      color: #fff; }
    .contact_wrapper .form_wrapper :-moz-placeholder {
      color: #fff; }
    .contact_wrapper .form_wrapper ::-moz-placeholder {
      color: #fff; }
    .contact_wrapper .form_wrapper :-ms-input-placeholder {
      color: #fff; }
    .contact_wrapper .form_wrapper .button-orange-stroked {
      width: auto;
      float: right;
      padding: 10px 35px;
      color: inherit;
      border: 1px solid #fd6b35;
      background: none;
      transition: all 300ms ease; }
      .contact_wrapper .form_wrapper .button-orange-stroked:hover {
        background: #f55e26;
        border: 1px solid #fd6b35;
        color: #fff; }
      .contact_wrapper .form_wrapper .button-orange-stroked:hover {
        cursor: pointer; }
    .contact_wrapper .form_wrapper .wpcf7-not-valid-tip {
      color: #fff; }
    .contact_wrapper .form_wrapper .wpcf7-response-output {
      border: 1px solid #fd6b35 !important; }

footer .upper_footer {
  background: #232323;
  padding: 50px 0; }
  footer .upper_footer .container {
    text-align: center;
    z-index: 25; }
    footer .upper_footer .container .footer_logo {
      margin: 0 auto;
      max-width: 300px;
      width: 70%;
      height: auto; }
      footer .upper_footer .container .footer_logo img {
        display: block;
        width: 100%;
        height: auto; }
footer .lower_footer {
  background: #383838;
  padding: 20px 0; }
  footer .lower_footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .lower_footer p {
    margin-bottom: 0; }
  footer .lower_footer .copyright {
    float: left; }
  footer .lower_footer .credentials {
    float: right;
    text-align: right; }
    footer .lower_footer .credentials a {
      color: inherit; }

@media only screen and (max-width: 1024px) {
  #services {
    display: block;
    width: 100%;
    padding: 0;
    overflow: visible;
    height: auto; }

  .services_left {
    background: url(../images/services_left_bg.jpg) no-repeat center center;
    background-size: cover;
    display: block;
    width: 100%;
    height: auto;
    padding: 70px 5% 70px 5%;
    color: #fff; }
    .services_left .services_left_text {
      position: relative;
      z-index: 50; }
    .services_left h5 {
      font-weight: 700;
      color: #fd6b35;
      text-transform: uppercase; }
    .services_left h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 34px;
      width: 100%; }
    .services_left ol {
      margin-top: 15px;
      text-align: center; }
      .services_left ol li {
        display: inline-block;
        background: #232323;
        padding: 10px 20px;
        z-index: 20;
        position: relative;
        list-style: decimal !important;
        margin: 0 0 4px 0; }
        .services_left ol li.active, .services_left ol li:hover {
          background: #1e1e1e;
          color: #fd6b35;
          padding-left: 20px; }
        .services_left ol li:hover {
          cursor: pointer; }

  .services_right {
    padding: 70px 5% 70px 5%;
    background: #232323;
    position: relative;
    display: block;
    vertical-align: top;
    width: 100%;
    color: #fff;
    z-index: 20; }
    .services_right:before {
      content: none;
      display: none; }
    .services_right .service_wrapper {
      position: relative;
      z-index: 40; }

  .team_intro {
    height: 400px; } }
@media only screen and (max-width: 768px) {
  .team_buckets {
    padding-top: 20px;
    text-align: center; }
    .team_buckets:after {
      content: "";
      display: table;
      clear: both; }
    .team_buckets .team_bucket {
      width: 50%;
      padding: 0 2%;
      float: left;
      margin-bottom: 50px; }
      .team_buckets .team_bucket .team_bucket_image {
        background-size: contain !important;
        margin: 0 auto;
        width: 90%;
        height: 0;
        padding-bottom: 90%;
        -moz-border-radius: 90%;
        -webkit-border-radius: 90%;
        border-radius: 90%;
        margin-bottom: 30px; }
      .team_buckets .team_bucket:nth-child(4n+1) {
        clear: none; }
      .team_buckets .team_bucket:nth-child(2n+1) {
        clear: both; }

  .team_intro {
    height: auto;
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 0;
    overflow: hidden; }
    .team_intro .team_intro_image {
      background: url(../images/team_intro_image.jpg) no-repeat center center;
      background-size: cover;
      display: block;
      vertical-align: middle;
      height: 400px;
      width: 100%;
      position: relative; }
      .team_intro .team_intro_image:after {
        display: none;
        transform: skew(0);
        -webkit-transform: skew(0);
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -o-transform: skew(0); }
    .team_intro .team_intro_text {
      display: block;
      vertical-align: middle;
      width: 100%;
      text-align: left;
      padding: 50px 5% 0 5%;
      position: relative;
      z-index: 40; }
      .team_intro .team_intro_text h5 {
        font-weight: 700;
        color: #232323;
        text-transform: uppercase; }
      .team_intro .team_intro_text h3 {
        color: #fd6b35;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 3% 0; }

  .contact_wrapper {
    background: url(../images/contact_bg.jpg) no-repeat center bottom;
    background-size: cover;
    padding: 150px 0;
    color: #fff; }
    .contact_wrapper .contact_info {
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .contact_wrapper .contact_info:last-child {
        margin-right: 0; }
      .contact_wrapper .contact_info h5 {
        text-transform: uppercase;
        color: #fff;
        display: inline-block;
        border-bottom: 1px solid #fd6b35;
        margin-bottom: 10px; }
      .contact_wrapper .contact_info address p {
        margin-bottom: 0; }
      .contact_wrapper .contact_info address .address {
        margin-bottom: 20px; }
      .contact_wrapper .contact_info address a {
        color: inherit; }
        .contact_wrapper .contact_info address a:hover {
          text-decoration: underline; }
    .contact_wrapper .form_wrapper {
      margin-top: 70px;
      margin-left: 0%;
      float: left;
      display: block;
      margin-right: 2.63158%;
      width: 100%; }
      .contact_wrapper .form_wrapper:last-child {
        margin-right: 0; }
      .contact_wrapper .form_wrapper .ninja-forms-required-items {
        display: none; }
      .contact_wrapper .form_wrapper input, .contact_wrapper .form_wrapper textarea {
        padding-left: 0;
        padding-right: 0;
        outline: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #fd6b35; }
      .contact_wrapper .form_wrapper .button-orange-stroked {
        float: right;
        padding: 10px 35px;
        color: inherit;
        border: 1px solid #fd6b35;
        background: none;
        transition: all 300ms ease; }
        .contact_wrapper .form_wrapper .button-orange-stroked:hover {
          background: #f55e26;
          border: 1px solid #fd6b35;
          color: #fff; }
        .contact_wrapper .form_wrapper .button-orange-stroked:hover {
          cursor: pointer; } }
@media only screen and (max-width: 480px) {
  .services_left {
    background: url(../images/services_left_bg.jpg) no-repeat center center;
    background-size: cover;
    display: block;
    width: 100%;
    height: auto;
    padding: 70px 5% 70px 5%;
    color: #fff; }
    .services_left .services_left_text {
      position: relative;
      z-index: 50; }
    .services_left h5 {
      font-weight: 700;
      color: #fd6b35;
      text-transform: uppercase; }
    .services_left h3 {
      color: #fff;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 34px;
      width: 100%; }
    .services_left ol {
      margin-top: 15px;
      text-align: left; }
      .services_left ol li {
        display: block;
        width: 100%;
        background: #232323;
        padding: 10px 20px;
        z-index: 20;
        position: relative;
        list-style: decimal;
        margin: 0 0 4px 0; }
        .services_left ol li.active, .services_left ol li:hover {
          background: #1e1e1e;
          color: #fd6b35; }
          .services_left ol li.active:before, .services_left ol li:hover:before {
            display: none; }
        .services_left ol li:hover {
          cursor: pointer; }

  .view {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    .view:after {
      content: "";
      display: table;
      clear: both; }
    .view.active {
      position: relative;
      top: 0;
      left: 0; }
    .view .h5 {
      font-weight: 700;
      text-transform: uppercase; }
      .view .h5 span {
        color: #fd6b35; }
    .view .service_main {
      float: none;
      width: 100%;
      margin-right: 0%; }
    .view .service_extra {
      margin-top: 30px;
      float: none;
      width: 100%; }
      .view .service_extra ul {
        margin-left: 20px; }
        .view .service_extra ul li {
          list-style: disc; }

  .about_image {
    margin-top: 50px;
    max-width: 80%;
    margin-bottom: -100px;
    position: relative;
    z-index: 30; }
    .about_image p {
      margin-bottom: 0; }
    .about_image img {
      display: block;
      width: 100%;
      height: auto; }

  .tl_wrapper {
    display: none; }

  footer .lower_footer {
    background: #383838;
    padding: 20px 0;
    text-align: center; }
    footer .lower_footer:after {
      content: "";
      display: table;
      clear: both; }
    footer .lower_footer p {
      margin-bottom: 0; }
    footer .lower_footer .copyright {
      float: none;
      text-align: center; }
    footer .lower_footer .credentials {
      float: none;
      text-align: center; }
      footer .lower_footer .credentials a {
        color: inherit; } }
