// Mixins
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin horizontal-align {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

* {
	@include box-sizing;
}

p.button {
	line-height: 40px;
}

@mixin button {
	padding: 10px 35px;
	color: inherit;
}

@mixin button-orange-stroked {
	@include button;
	border: 1px solid $orange;
	background: none;
	transition: all 300ms ease;
	&:hover {
		background: #f55e26;
		border: 1px solid $orange;
		color: $white;
	}
}

.button-orange-stroked {
	@include button-orange-stroked;
}


// Grid
.row { @include clearfix; }

.large-4, .large-4-wrap { @include span-columns(4); }
.large-5, .large-5-wrap { @include span-columns(5.5); }
.large-6, .large-6-wrap { @include span-columns(6); }
.large-8, .large-8-wrap { @include span-columns(8); }
.large-12, .large-12-wrap { @include span-columns(12); }
.omega-wrap { margin-right: 0; }

.offset-1 { @include shift(1); }


// Global Elements
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	font-weight: 100;
	text-transform: uppercase;
}

h1, .h1 {
	font-size: 48px;
	line-height: 58px;
}

h2, .h2 {
	font-size: 35px;
	line-height: 45px;
}

h3, .h3 {
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
}

h4, .h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: $darkgray;
}

h5, .h5 {
	font-weight: 700;
	text-transform: uppercase;
}

hr {
    border: 0;
    height: 1px;
	max-width: 100px;
	margin: 20px auto 25px auto;
	background: $orange;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
	text-decoration: none;
}

p {
	margin-bottom: 15px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


// Base Layout
body {
	font: 14px $font;
	color: $lightgray;
	background-color: $white;
	font-weight: 300;
	line-height: 26px;
	height: 100%;
}

.container {
	@include outer-container;
	width: 90%;
}

.section {
	padding: 120px 0;
}

.small_section {
	padding: 40px 0;
}

.intro {
	margin: auto;
	max-width: 830px;
	text-align: center;
	h2 {
		margin-bottom: 10px;
	}
	p {
		margin: auto;
		max-width: 550px;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: $orange;
	opacity: 0.85;
}


// Form Elements 
input, textarea {
	padding: 10px 15px;
	border: 1px solid $lightgray;
	background: none;
	transition: all 300ms ease;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	-webkit-appearance:	none;
	-moz-appearance:    none;
	appearance:         none;
	border-radius: 0;
}

textarea {
	resize: vertical;
}