@media #{$desktop} {
	// Service Styles
	#services {
		display: block;
		width: 100%;
		padding: 0;
		overflow: visible;
		height: auto;
	}
	
	.services_left {
		background: url(../images/services_left_bg.jpg) no-repeat center center;
		background-size: cover;
		display: block;
		width: 100%;
		height: auto;
		padding: 70px 5% 70px 5%;
		color: $white;
		.services_left_text {
			position: relative;
			z-index: 50;
		}
		h5 {
			font-weight: 700;
			color: $orange;
			text-transform: uppercase;
		}
		h3 {
			color: $white;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 34px;
			width: 100%; 
		}
		ol {
			margin-top: 15px;
			text-align: center;
			li {
				display: inline-block;
				background: $darkgray;
				padding: 10px 20px;
				z-index: 20;
				position: relative;
				list-style: decimal !important;
				margin: 0 0 4px 0;
				&.active, &:hover {
					background: darken($darkgray, 2);
					color: $orange;
					padding-left: 20px;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	
	.services_right {
		padding: 70px 5% 70px 5%;
		background: $darkgray;
		position: relative;
		display: block;
		vertical-align: top;
		width: 100%;
		color: $white;
		z-index: 20;
	    &:before {
	    	content: none;
			display: none;
	    }
	    .service_wrapper {
		    position: relative;
		    z-index: 40;
	    }
	}

	.team_intro {
		height: 400px;
	}
}