@media #{$mobile} {
	.services_left {
		background: url(../images/services_left_bg.jpg) no-repeat center center;
		background-size: cover;
		display: block;
		width: 100%;
		height: auto;
		padding: 70px 5% 70px 5%;
		color: $white;
		.services_left_text {
			position: relative;
			z-index: 50;
		}
		h5 {
			font-weight: 700;
			color: $orange;
			text-transform: uppercase;
		}
		h3 {
			color: $white;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 34px;
			width: 100%; 
		}
		ol {
			margin-top: 15px;
			text-align: left;
			li {
				display: block;
				width: 100%;
				background: $darkgray;
				padding: 10px 20px;
				z-index: 20;
				position: relative;
				list-style: decimal;
				margin: 0 0 4px 0;
				&.active, &:hover {
					background: darken($darkgray, 2);
					color: $orange;
					&:before {
						display: none;
					}
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	
	.view {
		@include clearfix;
		position: absolute; top: -9999px; left: -9999px;
		&.active {
			position: relative;
			top: 0;
			left: 0;
		}
		.h5 {
			font-weight: 700;
			text-transform: uppercase;
			span {
				color: $orange;
			}
		}
		.service_main {
			float: none;
			width: 100%;
			margin-right: 0%;
		}
		.service_extra {
			margin-top: 30px;
			float: none;
			width: 100%;
			ul {
				margin-left: 20px;
				li {
					list-style: disc;
				}
			}
		}
	}
	
	.about_image {
		margin-top: 50px;
		max-width: 80%;
		margin-bottom: -100px;
		position: relative;
		z-index: 30;
		p {
			margin-bottom: 0;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	
	.tl_wrapper {
		display: none;
	}
	
	footer {
		.lower_footer {
			@include clearfix;
			background: $mediumgray;
			padding: 20px 0;
			text-align: center;
			p {
				margin-bottom: 0;
			}
			.copyright {
				float: none;
				text-align: center;
			}
			.credentials {
				float: none;
				text-align: center;
				a {
					color: inherit;
				}
			}
		}
	}
		
}