@media #{$tablet} {
	.team_buckets {
		padding-top: 20px;
		text-align: center;
		@include clearfix;
		.team_bucket {
			width: 50%;
			padding: 0 2%;
			float: left;
	        margin-bottom: 50px;
			.team_bucket_image {
				background-size: contain !important;
				margin: 0 auto;
				width: 90%;
				height:0;
				padding-bottom: 90%;
				-moz-border-radius: 90%; 
				-webkit-border-radius: 90%; 
				border-radius: 90%;
				margin-bottom: 30px;
			}
			&:nth-child(4n+1) {
				clear: none;
			}
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	
	.team_intro {
		height: auto;
		display: table;
		width: 100%;
	    table-layout: fixed;
		padding: 0;
		overflow: hidden;
		.team_intro_image {
			background: url(../images/team_intro_image.jpg) no-repeat center center;
			background-size: cover;
			display: block;
			vertical-align: middle;
			height: 400px;
			width: 100%;
			position: relative;
		    &:after {
				display: none;
				transform: skew(0);
				-webkit-transform: skew(0);
				-webkit-transform: skew(0);
				   -moz-transform: skew(0);
				     -o-transform: skew(0);
		    }
		}
		.team_intro_text {
			
			display: block;
			vertical-align: middle;
			width: 100%;
			text-align: left;
			padding: 50px 5% 0 5%;
			position: relative;
			z-index: 40;
			h5 {
				font-weight: 700;
				color: $darkgray;
				text-transform: uppercase;
			}
			h3 {
				color: $orange;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 34px;
				margin: 0 0 3% 0;
			}
		}
	}
	
	.contact_wrapper {
		background: url(../images/contact_bg.jpg) no-repeat center bottom;
		background-size: cover;
		padding: 150px 0;
		color: $white;
		.contact_info {
			@include span-columns(12);
			h5 {
				text-transform: uppercase;
				color: $white;
				display: inline-block;
				border-bottom: 1px solid $orange;
				margin-bottom: 10px;
			}
			address {
				p {
					margin-bottom: 0;
				}
				.address {
					margin-bottom: 20px;
				}
				a {
					color: inherit;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.form_wrapper {
			margin-top: 70px;
			@include shift(0);
			@include span-columns(12);
			.ninja-forms-required-items {
				display: none;
			}
			input, textarea {
				padding-left: 0;
				padding-right: 0;
				outline: 0;
				border-top: 0;
				border-right: 0;
				border-left: 0;
				border-bottom: 1px solid $orange;
			}
			.button-orange-stroked {
				float: right;
				@include button-orange-stroked;
				&:hover {
					cursor: pointer;
				}
			}		
		}
	}

}