@import "neat/neat-helpers"; // or "neat-helpers" when in Rails
@import "fonts";

// Variables
$font: "Gotham", serif;

$orange: #fd6b35;
$darkgray: #232323;
$mediumgray: #383838;
$lightgray: #939393;
$white: #fff;

// Change the grid settings
$column: 90px;
$gutter: 40px;
$grid-columns: 12;
$max-width: 1200px;

$mobile: "only screen and (max-width : 480px)";
$tablet: "only screen and (max-width : 768px)";
$desktop: "only screen and (max-width : 1024px)";
