/* style.scss */
@import 'reset';
@import 'variables';
@import 'bourbon', 'neat';

@import 'base';

// Home Page Styles

.opl {
	position:absolute;
	top:150px;
	left:0px;
	z-index:10;
}
.opl a {
	width:73px;
	height:56px;
	text-indent:-9999px;
	display:block;
	background:url('https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png') no-repeat;
}

.prenav {
	background: $mediumgray;
	padding: 10px 0;
	text-align: right;
	span {
		color: $orange;
	}
	a {
		color: inherit;
	}
	p {
		display: inline-block;
		margin-bottom: 0;
		&:last-child {
			margin-left: 15px;
		}
	}
}

.main_nav {
	background: $darkgray;
	padding: 25px 0;
	left: 0;
	top: 0;
	width: 100%;
	transition: all 200ms ease;
	.logo {
		background: url(../images/logo.svg) no-repeat center center;
		display: block;
		width: 35px;
		height: 35px;
		text-indent: -9999px;
		float: left;
	}
	.header_toggle {
		display: none;
	}
	.navigation {
		float: right;
		li {
			display: inline-block;
			line-height: 35px;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: inherit;
				&.current {
					color: $orange;
				}
			}
		}
	}
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		padding: 15px 0;
	}
}

.nav_wrapper {
	font-size: 12px;
	.container {
		max-width: none;
		width: 95%;
		text-transform: uppercase;
	}
}

header {
	background: url(../images/hero_bg.jpg) no-repeat center bottom;
	height: 450px;
	.container {
		@include vertical-align;
		text-align: center;
		z-index: 25;
		.logo {
			margin: 0 auto;
			max-width: 530px;
			width: 80%;
			height: auto;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
}

.intro {
	.button {
		margin-top: 50px;
	}
	.dark a {
		color: $darkgray;
		&:hover {
			color: $white;
		}
	}
}

// Service Styles
#services {
	display: table;
	width: 100%;
    table-layout: fixed;
	padding: 0;
	overflow: hidden;
	height: 575px;
}

.services_left {
	background: url(../images/services_left_bg.jpg) no-repeat center center;
	background-size: cover;
	display: table-cell;
	vertical-align: top;
	width: 40%;
	padding: 70px 0 70px 5%;
	color: $white;
	.services_left_text {
		position: relative;
		z-index: 50;
	}
	h5 {
		font-weight: 700;
		color: $orange;
		text-transform: uppercase;
	}
	h3 {
		color: $white;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 34px;
		width: 60%; 
	}
	ol {
		margin-top: 15px;
		li {
			z-index: 20;
			position: relative;
			list-style: decimal;
			margin-left: 20px;
			background: transparent;
			color: inherit;
			padding-left: 0;
			transition: all 200ms ease;
			&.active, &:hover {
				background: $darkgray;
				color: $orange;
				padding-left: 15px;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.services_right {
	padding: 70px 5% 70px 0;
	background: $darkgray;
	position: relative;
	display: table-cell;
	vertical-align: top;
	width: 60%;
	color: $white;
	z-index: 20;
    &:before {
    	content: "";
		background: $darkgray;
		position: absolute;
		top: 0;
		left: -14%;
		padding: 70px 5% 70px 0;
		width: 500px;
		height: 100%;
		display: block;
		transform: skew(20deg);
		-webkit-transform: skew(20deg);
		-webkit-transform: skew(20deg);
		   -moz-transform: skew(20deg);
		     -o-transform: skew(20deg);
    }
    .service_wrapper {
	    position: relative;
	    z-index: 40;
    }
}

.view {
	@include clearfix;
	position: absolute; top: -9999px; left: -9999px;
	&.active {
		position: relative;
		top: 0;
		left: 0;
	}
	.h5 {
		font-weight: 700;
		text-transform: uppercase;
		span {
			color: $orange;
		}
	}
	.service_main {
		float: left;
		width: 60%;
		margin-right: 5%;
	}
	.service_extra {
		float: left;
		width: 35%;
		ul {
			margin-left: 20px;
			li {
				list-style: disc;
			}
		}
	}
}

// About Styles
#about {
	.intro.section {
		padding-bottom: 0;
	}
}
 
.about_image {
	margin-top: 50px;
	max-width: 60%;
	margin-bottom: -100px;
	position: relative;
	z-index: 30;
	p {
		margin-bottom: 0;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.history {
	background: url(../images/history_bg.jpg) no-repeat center bottom;
	background-size: cover;
	position: relative;
	padding: 150px 0 100px 0;
	.container {
		position: relative;
		z-index: 20;
		color: $white;
	}
	h3 {
		margin-bottom: 3%;
	}
}

.tl_wrapper {
	position: relative;
	padding: 250px 0;
}

.tl_line {
	width: 100%;
	height: 1px;
	position: absolute;
	background: #c7c7c7;
	@include vertical-align;
}

.tl {
	height: 1px;
	position: relative;
	.tl_point {
		float: left;
		height: 150px;
		width: 16.666%;
		position: relative;
		.tl_info {
			position: absolute;
			left: 0;
			h5 {
				color: $orange;
			}
			p {
				margin-bottom: 0;
				font-size: 14px;
				line-height: 19px;
				color: $darkgray;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			background: #939393;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%; 
		}
		&:nth-child(odd) {
			top: -165px;
			&:before {
				bottom: -20px;
			}
			.tl_info {
				bottom: 0;
			}
		}
		&:nth-child(even) {
			bottom: -13px;
			&:before {
				top: -20px;
			}
			.tl_info {
				top: 0;
			}
		}
	}
}

// Team Styles

.team_intro {
	height: 530px;
	display: table;
	width: 100%;
    table-layout: fixed;
	padding: 0;
	overflow: hidden;
	.team_intro_image {
		background: url(../images/team_intro_image.jpg) no-repeat left center;
		background-size: cover;
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		position: relative;
	    &:after {
	    	content: "";
			background: $white;
			position: absolute;
			z-index: 10;
			top: 0;
			right: -110px;
			width: 210px;
			height: 100%;
			display: block;
			transform: skew(-20deg);
			-webkit-transform: skew(-20deg);
			-webkit-transform: skew(-20deg);
			   -moz-transform: skew(-20deg);
			     -o-transform: skew(-20deg);
	    }
	}
	.team_intro_text {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		text-align: right;
		padding: 0 5% 0 0;
		position: relative;
		z-index: 40;
		h5 {
			font-weight: 700;
			color: $darkgray;
			text-transform: uppercase;
		}
		h3 {
			color: $orange;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 34px;
			margin: 0 0 3% 0;
		}
	}
}

.team_buckets {
	padding-top: 20px;
	text-align: center;
	@include clearfix;
	.team_bucket {
		width: 25%;
		padding: 0 2%;
		float: left;
        margin-bottom: 5%;
		.team_bucket_image {
			background-size: contain !important;
			margin: 0 auto;
			width: 90%;
			height:0;
			padding-bottom: 90%;
			-moz-border-radius: 90%; 
			-webkit-border-radius: 90%; 
			border-radius: 90%;
			margin-bottom: 30px;
		}
		&:nth-child(4n+1) {
			clear: both;
		}
	}
}

.values_divider {
	border-top: 1px solid #c7c7c7;
	position: relative;
	z-index: 10;
	.divider_logo_wrapper {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		margin: 0 auto;
	}
	.padding {
		position: absolute;
		background-color: $white;
		display: block;
		width: 120px;
		height: 40px;
		z-index: 40;
		left: -40px;
	}
	.divider_logo {
		margin: -20px auto 0 auto;
		width: 40px;
		height: 40px;
		img {
			display: block;
			width: 40px;
			height: 40px;
			position: relative;
			z-index: 50;
		}
	}
}

.map_wrap {
	width: 100%;
	height: 300px;
	#map {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.contact_wrapper {
	background: url(../images/contact_bg.jpg) no-repeat center bottom;
	background-size: cover;
	padding: 150px 0;
	color: $white;
	.contact_info {
		@include span-columns(3);
		h5 {
			text-transform: uppercase;
			color: $white;
			display: inline-block;
			border-bottom: 1px solid $orange;
			margin-bottom: 10px;
		}
		address {
			p {
				margin-bottom: 0;
			}
			.address {
				margin-bottom: 20px;
			}
			a {
				color: inherit;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.form_wrapper {
		@include shift(2);
		@include span-columns(7);
		input, textarea {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			outline: 0;
			border-top: 0;
			border-right: 0;
			border-left: 0;
			border-bottom: 1px solid $orange;
		}
		::-webkit-input-placeholder { color: $white; }
		:-moz-placeholder { color: $white; }
		::-moz-placeholder { color: $white; }
		:-ms-input-placeholder { color: $white; }
		.button-orange-stroked {
			width: auto;
			float: right;
			@include button-orange-stroked;
			&:hover {
				cursor: pointer;
			}
		}
		.wpcf7-not-valid-tip {
			color: $white;
		}	
		.wpcf7-response-output {
			border: 1px solid $orange !important;
		}	
	}
}

footer {
	.upper_footer {
		background: $darkgray;
		padding: 50px 0;
		.container {
			text-align: center;
			z-index: 25;
			.footer_logo {
				margin: 0 auto;
				max-width: 300px;
				width: 70%;
				height: auto;
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.lower_footer {
		@include clearfix;
		background: $mediumgray;
		padding: 20px 0;
		p {
			margin-bottom: 0;
		}
		.copyright {
			float: left;
		}
		.credentials {
			float: right;
			text-align: right;
			a {
				color: inherit;
			}
		}
	}
}


// Media Queries
@import 'desktop';
@import 'tablet';
@import 'mobile';